PyQt6>=6.7.0
sounddevice>=0.5.0
numpy>=1.24.0
openai-whisper>=20240930
scipy>=1.11.0
pyinstaller>=6.0.0
transformers>=4.40.0
torch>=2.1.0
accelerate>=0.20.0
requests>=2.28.0
pyannote.audio>=3.1.0
pyannote.core>=5.0.0
speechbrain>=0.5.0
torchaudio>=2.1.0